/*********** Module Spacer ***********/
.module-spacer--medium {
    height: 32px
}

/*********** Section ***********/
.c-main {
    padding: 96px 0
}
.c-section-wrapin {
    margin: 0 auto;
    max-width: 575px;
    position: relative;
    width: 100%
}

.cover {
    color: rgb(29, 29, 31);
    background-image: url('../assets/images/haikei.jpg');
    height: 200px;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.c-section-container {
    margin: 0 auto;
    max-width: 550px;
    padding: 1rem;
    height: auto;
    width: calc(100% - 1rem);
}

.center {
    margin: 0 auto;
    text-align: center;
}

.p-grid_row {
    display: flex;
    flex-flow: row wrap;
}

.card__icon {
    display: flex;
}

.card__textbox {
    width: 100%;
    height: 70px;
    background: #c2cdd84d;
    padding: 20px 0;
    justify-content:space-between;
    color: #21466b;
}

.channnel__title {
    margin: 0 auto;
    height: 35px;

}

.channel__icon {
    width: 100px;
}

.card__imgframe {
    text-align: center;
}

.u-text-center {
    text-align: center;
    font-weight: bold;
    color: #21466b;
}

.p-text {
    margin-bottom: 1rem;
}

.p-title {
        padding: 0.4em 0.5em;
        color: #494949;
        background: #f4f4f4;
        border-left: solid 5px #99c8db;
        border-bottom: solid 3px #d7d7d7;
}

.u-text_headline {
    font-size: 1.5rem;
}

.u-display-none {
    display: none;
}

@media screen and (min-width: 576px) {

    /*********** Section ***********/
    .c-section-wrapin {
        max-width: 1024px;
    }
}